.container{
    margin: 40px;
    height: 400px;
    width: 400px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
/* how items in a row are aligned in order*/
    justify-content: center;
/* align items within the row perpendicularly*/

    align-items: flex-end;
/* how the rows together are alligned*/
    align-content: center;

}
.item{
    border: dotted maroon 2px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: lightseagreen;
    font-size: 20pt;
    color: white;
    text-align: center;
    /*line height could be used to align the text in vertical direction*/
    line-height: 50px;

 
}